:root {
  --main-white-color: #fff;
  --main-black-color: #000000;
  --main-green-color: #7bd35f;
  --main-orange-color: #ff5200;
  --hero-height: 80vh;
  --small-gap: 1rem;
  --small-padding: 1rem;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 53rem;
  height: var(--hero-height);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/other/cover.png");
  background-position: 33%;
  background-size: cover;
}

.hero__heading {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
  color: var(--main-white-color);
}

.hero__controls {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  margin-top: 4rem;
}

.hero__domain-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__input {
  position: relative;
  width: 100%;
  padding: 1.5rem 3rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
}

.hero__loupe {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.hero__promotion {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--main-white-color);
}

.hero__button {
  padding: 1.2rem 2.5rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--main-white-color);
  background-color: var(--main-orange-color);
}

.hero__cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--main-black-color);
  background-color: var(--main-white-color);
}

.hero__plan {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.hero__subtitle {
  text-transform: uppercase;
}

.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.hero__subtitle {
  font-size: 2rem;
}

.hero__cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 8rem;
}

.hero__cart-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.hero__cart-icon {
  width: 2rem;
  height: 2rem;
  stroke: var(--main-green-color);
}

.hero__cart-button {
  padding: var(--small-padding);
  border: none;
  color: var(--main-white-color);
  background-color: var(--main-orange-color);
}

.hero__toggle-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--small-gap);
  margin-top: 2rem;
  color: white;
  font-size: 1.6rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-orange-color);
  transition: 0.4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #9c9c9c;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

@media (min-width: 36em) {
  .hero__heading {
    font-size: 4.5rem;
    text-align: left;
  }
  .hero__subtitle {
    font-size: 2.5rem;
  }

  .hero__plan {
    font-size: 3rem;
  }

  .hero__input {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }

  .hero__button {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 48em) {
  .hero {
    height: 60vh;
  }
  .hero__wrapper {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
  }

  .hero__controls {
    width: 60%;
  }

  .hero__domain-info {
    width: 100%;
  }
}

@media (min-width: 75em) {
  .hero {
    display: block;
  }
  .hero__cart {
    padding: 3rem 2rem;
  }
}
