* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.primary-heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}

.second-heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
