:root {
  --main-orange-color: #ff5200;
}

.testimonials {
  padding: 6.8rem 0;
}

.testimonials__heading {
  text-align: center;
  font-size: 2rem;
}

.testimonials__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  margin: 1.5rem auto 4rem;
  border-radius: 1rem;
  background-color: var(--main-orange-color);
}

.testimonials__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__image {
  margin-top: 4rem;
}

.testimonials__wrapper {
  position: relative;
  padding: 17rem 0 17rem;
  margin: 0 auto;
  max-width: 120rem;
  overflow: hidden;
}

.testimonials__item {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 3rem 4rem;
  transition: transform 1s;
}

.testimonials__text-box {
  line-height: 1.6;
}

.testimonials__description {
  font-size: 1.6rem;
}

.testimonials__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.testimonials__author {
  position: relative;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.testimonials__button {
  position: absolute;
  top: 30%;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 1rem;
  z-index: 10;
  cursor: pointer;
}

.testimonials__icon {
  stroke: var(--main-orange-color);
}

.testimonials__button--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.testimonials__button--right {
  right: 4%;
  transform: translate(50%, -50%);
}

.testimonials__dots,
.testimonials__dot {
  display: none;
}

@media (min-width: 36em) {
  .testimonials__wrapper {
    padding: 12rem 0 12rem;
  }

  .testimonials__dots {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, 50%);
    display: flex;
    gap: 3rem;
  }

  .testimonials__dot {
    display: block;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    border: 1px solid var(--main-orange-color);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }

  .testimonials__dot--active {
    opacity: 1;
    background-color: var(--main-orange-color);
  }
}

@media (min-width: 48em) {
  .testimonials__heading {
    font-size: 2.5rem;
  }

  .testimonials__button--left {
    left: 1%;
  }

  .testimonials__button--right {
    right: 1%;
  }
}
