:root {
  --main-orange-color: #ff5200;
}

.testimonials {
  padding-top: 6.8rem;
}

.testimonials__heading {
  text-align: center;
  font-size: 2rem;
}

.testimonials__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  margin: 1.5rem auto 4rem;
  border-radius: 1rem;
  background-color: var(--main-orange-color);
}

.testimonials__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__image {
  margin-top: 4rem;
}

.testimonials__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
  height: 31rem;
  overflow: hidden;
}

.testimonials__item {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 3rem 4rem;
  transition: transform 1s;
}

.testimonials__text-box {
  line-height: 1.6;
}

.testimonials__description {
  font-size: 1.6rem;
}

.testimonials__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.testimonials__author {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.testimonials__button {
  position: absolute;
  top: 30%;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 1rem;
  z-index: 10;
  cursor: pointer;
}

.testimonials__icon {
  stroke: var(--main-orange-color);
}

.testimonials__button--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.testimonials__button--right {
  right: 4%;
  transform: translate(50%, -50%);
}

@media (min-width: 48em) {
  .testimonials__button--left {
    left: 1%;
  }

  .testimonials__button--right {
    right: 1%;
  }
}
