:root {
  --main-white-color: #fff;
  --main-green-color: #77d050;
}

.toast {
  position: fixed;
  top: 10%;
  right: 0;
  width: 20rem;
  height: 5rem;
  background-color: var(--main-green-color);
  z-index: 200;
  padding: 1rem;
  animation: toastAnimate 2s;
}

.toast__description {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--main-white-color);
  text-align: center;
}

.toast__hidden {
  display: none;
}

@keyframes toastAnimate {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0%);
  }
}
